* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.a_fff {
  color: #fff;
  transition: .2s;
}
.iconBox {
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  color: #2c2c2c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;
}
.iconBox:hover {
  background-color: #2c2c2c;
  color: #ebebeb;
}
.a_fff:hover {
  color: #ff6505;
}

:root {
  --text-color: #fff;
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: #ff6505;
  --bg-color: #ff6505;
}

* {
  box-sizing: border-box;
}
button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #ff6505;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  color: #fff;
}
/* bubbles */
button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
      radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
      radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
      transform: translate();
  }

  to {
      transform: translate(0, -66.666%);
  }
}


.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  width: 50px !important;
  height: 50px !important;
  position: absolute !important;
  bottom: -200px !important;
  left: -73.5vw;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px !important;
  color: #2c2c2c !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
  width: 50px !important;
  height: 50px !important;
  position: absolute !important;
  bottom: -200px !important;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px !important;
  color: #2c2c2c !important;
  margin-left: 20px;
}

@media (max-width: 1460px) {
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
      left: -80vw !important;
      margin-left: 20px !important;
  }
}
@media (max-width: 850px) {
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
      left: -75vw !important;
      margin-left: 20px !important;
  }
}
@media (max-width: 600px) {
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
      left: -35vw !important;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
      right: -30vw;
  }
}