.about {
    padding: 0 10vw;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_left {
    width: 55%;
}
.about_left > h1 {
    font-size: 40px;
}
.about_info {
    color: #6f6f6f;
    line-height: 1.5vw;
}
.about_left > h4 {
    width: 70%;
    color: #6f6f6f;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6vw;
}
.about_border {
    width: 70%;
    margin: 30px 0;
    border-left: 4px solid #ff6505;
    color: #6f6f6f;
    padding: 10px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 1.5vw;
}
.aboutImage {
    width: 450px;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
}
.seo {
    padding: 0 10vw;
}
.seo_left {
    width: 48%;
    height: 320px;
    display: flex;
    align-items: flex-end;
    background-color: #f2f5fb;
    border-radius: 15px;
}
.left_box {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}
.left_box > h2 {
    font-size: 30px;
}
.left_box > p {
    width: 60%;
    color: #6f6f6f;
    font-size: 17px;
    line-height: 30px;
    margin-top: 30px;
}

@media (max-width: 1400px) {
    .about {
        padding: 0 2%;
    }
}
@media (max-width: 1200px) {
    .about {
        align-items: start;
        flex-direction: column;
    }
    .about_left > h4,
    .about_left > p {
        line-height: normal;
    }
    .about_left {
        width: 80%;
    }
    
    .aboutImage {
        width: 100%;
        margin-top: 20px;
        object-fit: cover;
    }
}
@media (max-width: 991px) {
    .about_left {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .about {
        flex-direction: column-reverse;
    }
    .about_left {
        width: 100%;
        margin-top: 20px;
    }
    .aboutImage {
        height: 300px;
    }
}
@media (max-width: 700px) {
    .about_border,
    .about_left > h4 {
        width: 100%;
    }
}