.swip .swiper {
    width: 100%;
    margin-top: 20px;
}
.swip .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swip .swiper-slide {
    background-size: cover;
    background-position: center;
}

.swip .mySwiper2 {
    height: 80%;
    width: 100%;
    border-radius: 12px;
}

.swip .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.swip .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.swip .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swip .swiper-slide img {
    display: block;
    width: 100%; 
    object-fit: cover;
}
.swip{
    cursor: pointer;
}

.simg{
    width: 20% !important;
    height: 15vh !important;
    border-radius: 12px;
}
.s2img{
    width: 100% !important;
    /* height: 100% !important; */
    border-radius: 12px !important;
}

.swip{
    width: 100%;
    height: 600px;
    margin-top: 30px;
}

.dfc{
    width: 700px;
} 

.swip .swiper-button-next::after, .swiper-button-prev::after{
    display: none;
}
.swip .swiper-button-next{
    width: 50px;
    height: 50px;
    background: white !important;
    border-radius: 50%;
    border: 5px solid white;
        background: #ffffff00 !important;
    background-size: 10px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px black !important;
    margin-right: 100%;
    transition: .5s;
}
.swip .swiper-button-prev{
    width: 50px;
    height: 50px;
    background: white !important;
    border-radius: 50%;
    border: 5px solid white;
    background: #ffffff00 !important;
    box-shadow: 0px 0px 10px black !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 100%;
    transition: .5s;
}
.swip:hover .swiper-button-prev{
margin-left: 0%;
}
.swip:hover .swiper-button-next{
    margin-right: 0%;
}
.ypn{
    /* width: 40%; */
    margin-left: 5%;
}
.ypn hr{
    margin-top: 30px;
    background-color: #A7A8A8;
    width: 90%;
}
.hf {
    color: #222732;
    font-family: serif;
    font-size: 13.5px;
    margin-top: 50px;
}
.hf1 {
    color: #222732;
    font-family: serif;
    font-size: 15px;
    margin-top: 50px;
    display: none;
}
.lk{
    display: flex;
    margin-top: 20px;
}
.lk1{
    display: flex;
    margin-top: 20px;
    display: none;
}
.lk p{
    color: #A7A8A8;
}
.lk1 p{
    color: #A7A8A8;
}
.l1{
    display: flex;
    justify-content: space-around;
    width: 35%;
    color: #ff4605;
}
.l2{
    display: flex;
    justify-content: space-around;
    width: 35%;
    color: #ff4605;
}
.df10{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}
.l1 p{
    color: #A7A8A8;
    cursor: pointer;
}
.l2 p{
    color: #A7A8A8;
    cursor: pointer;
}
.l1 p:hover{
    color: #222732;
}
.l2 p:hover{
    color: #222732;
}


    @media (max-width:1200px) {
        .dfc{
            display: block;
        }
        .vaa{
            margin-left: 20% !important;
        }
        .oxirkotta{
            display: flex !important;
            justify-content: space-around;
            padding: 20px;
            flex-wrap: wrap;

        }
        .oxirkotta .maky{
            display: flex;
            justify-content: space-between;
            padding-top: 0px;
        }
        .hf{
            display: none;
        }
        .hf1{
            display: flex;
        }
        .lk{
            display: none;
        }
        .lk1{
            display: flex;
        }
        .assaa{
            display: flex;
        }
        .asdda{
            display: none;
        }
        .ypn{
            margin-top: 120px;
            width: 100%;
        }
        .swip{
            width: 100%;
        }
        
        .ypn{
            display: none;
        }
            .ypn1{
                width: 100%;
                margin-top: 150px;
            }
            .dfc{
                width: 100%;
            }
            .oxirkotta button{
                width: 90%;
                margin-left: 5%;
            }
            .maky{
                width: 50%;
                padding: 20px;
            }
            .buttonz1{
                width: 50%;
            }
            .maky1{
                width: 50%;
            }
    }
@media(max-width:1047px){
    .oxirkotta{
        display: flex !important;
        justify-content: flex-start !important;
        padding: 20px;
        flex-wrap: wrap;

    } .oxirkotta button{
        margin-left: 0px;
        width: 100%;
    }
}

.pas p{
    color: #222732;
    text-align: center;
    margin-top: 30px;
}


    @media (max-width:1050px) {
        .oxirkotta button{
            width: 100%;
        }
        .oxirkotta {
            background-color: #fff;
        }
    }
    .lll {
        list-style: none;
    }
    
    .iki {
        display: none;
    }
    
    .iki1 {
        display: none;
    }
    
    .hg1 {
        display: block;
    }

.dffd{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    
}


    .assaa{
        display: none;
    }


.dollars h1{
    color: #ff4605;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 44px;
}
.dollars{
    margin-top: 30px;   
}
.dollars p {
    color: #A7A8A8;
    margin-top: 10px;
    cursor: pointer;
}
.dollars span{
    position: relative;
    top: 3px;
}
.dollars p:hover{
    color: #ff4605;
}

.mk{
    display: flex;
    justify-content: space-around;
}
.mmk{
    display: flex;
    justify-content: space-around;
}

.oxirkotta{
    display: flex;
    background-color: #eff3fa;
    border-radius: 20px;
}
.oxirkotta{
    display: none;
}
.maky{
    background-color: #eff3fa;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    
}
.maky1{
    background-color: #eff3fa;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    width: 80%;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto+Slab&display=swap');


*{
    font-family: 'Mulish', sans-serif !important;
font-family: 'Roboto Slab', serif !important;
}
.buttonz{
    display: block;
}

.byt{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 1px solid #ff4605;
    background-color: #fff !important;
    color: #000;
    border-radius: 10px;
    margin-top: 20px;
}
.wat{
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #05cd51 !important;
    border-radius: 10px;
    margin-top: 20px;
}
.spend{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.byt:hover{
    color: #ff4605;
    background-color: #ff480530 !important;
}
.byt span{
    color: #ff4605;
    position: relative;
    top: 3px;
    right: 5px;
}
.wat span{
    position: relative;
    top: 3px;
    right: 5px;
}
.maa{
    width: 50%;
    font-weight: 600;
}
.maa p{
    /* font-weight: 700; */
    margin: 0px 0px 12px 0px;
    /* margin-top: 15px; */
    /* font-weight: 500; */
    font-size: 18px;
    width: 300px;
}
.mn p{
    margin: 0px 0px 15.5px 0px;
    color: grey;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto+Slab&display=swap');

/* *{
    font-family: 'Mulish', sans-serif;
} */


.bloksoz p{
    line-height: 30px;
    margin-top: 30px;
    font-family: 'Mulish', sans-serif !important;
}
.bloksoz{
    margin-top: 50px;
}
.bloksoz h4{
    text-decoration: underline;
    color: #ff4605;
    cursor: pointer;
}

@media (max-width:600px) {
    .mySwiper{
        display: none !important;
    }
    
}

/* @media (max-width:1000px) {
    .maky{
              width: 100%;
                  padding: 50px;
    }
    .oxirkotta {
                background-color: #fff;
    }
        .buttonz1{
                   width: 100%;
        }
} */
.buttonz1{
    display: block;
}
@media (max-width:600px) {
    .maky1{
             width: 100%;
    }
}
@media (max-width:400px) {
    .mn p{
        font-size: 15px;
    }
    .maa p{
        font-size: 18px;
    }
    .dffd{
        padding: 10px;
    }
    .oxirkotta{
        padding: 0px !important;
    }
    .maky{
        padding: 10px !important;
    }
}
.card122{
    /* width: 80%; */
    display: flex;
    justify-content: space-around;
}
.laaa h2{
        color: #222732;
    font-size: 25px;
    font-weight: 900 !important;
    line-height: 28px;
}
.koka1{
    width: 100%;
    background-color: #eff3fa;
    margin-top: 30px;
}
.vaa h2{
    color: #222732;
    font-size: 16px;
    line-height: 27px;
    max-width: 260px;
}
.vaa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.laaa button{
    width: 170px;
    height: 50px;
    background-color: white;
    border: 1px solid #ff4605;
    border-radius: 10px;
    color: #ff4605;
    font-size: 16px;
    margin-top: 20px;
}
*{
    box-sizing: border-box;
}
.laaa{
    padding-left: 20px;
    padding-top: 40px;
}
.mnb{
    margin-top: 20px;
}
.but1{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
}
.but2{
    width: 220px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
}
.but3{
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
}

.but4{
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
}
.but5{
    width: 220px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
}
.butt button{
    margin-left: 10px;
    margin-top: 10px;
}
.butt{
    padding-top: 30px;
    margin-left: 30px;
    padding-right: 30px;
}
@media(max-width:1200px){
    .butt{
        display: flex !important;

    }
    .lkj{
        display: flex;flex-wrap: wrap;
    }
}
.maa1{
    margin: auto;
    margin-right: 0px;
}
@media(max-width:900px){
    .vaa{
        display: none;
    }
    .maa1{
        display: none;
    }
    .card122{
        padding-bottom: 30px;
    }
    .nm{
        display: flex !important;
        font-size: 16px !important;
        margin-left: -20px;
    }
    .mnb{
        display: none;
    }
    
    .bv{
        display: block !important;
    }
}
@media(max-width:650px){
    .lkj{
        display: block !important;
        width: 100%;
    }.butt button{
        width: 100% !important;
    }
    .butt{
        padding-top: 0px;
        margin-left: 0px;
        padding: 30px;
    }
    .butt button{
        margin-left: 0px;
        margin-top: 10px;
    }
}
.nm{
    display: none;
}
.lkjh h1{
    margin-top: 30px;
}
.iframe{
    width: 100% !important;
    height: 70vh;
}
.dumalo{
    width: 12px;
    height: 12px;
    background-color: #ff4605;
    border-radius: 50%;
    margin-top: 5px;
}
.dum{
    display: flex;
    
}
.bv{
    display: flex;
}
.dum h2{
    padding-left: 15px;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
    float: left;
    color: #222732;
    width: 190px;
}
#vc{
    margin-top: 30px;
}
.kjl{
    background-color: #eff3fa;
}

.bnm{
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-top: 15px;

}
.mnbc{
    display: flex;
    justify-content: center;
}
.carf{
    width: 450px;
    border-radius: 20px;
    background-color: red;
    padding-top: 20px;
}

.inps1 input{
    min-height: 53px;
    border-radius: 10px;
    width: 30%;
    padding: 10px 27px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
    border: 1px solid #e7edf3;
}
.inp2{
    display: flex;
    justify-content: space-around;
}
.texta{
    width: 97%;
    margin-left: 10px;
    min-height: 53px;
    border-radius: 10px;
    padding: 10px 27px;
    font-size: 14px;
    line-height: 16px;
    box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
    border: 1px solid #e7edf3;
    margin-top: 20px;
}
*{
    outline: none;
}
.inps1 button{
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
    /* margin-left: 80%; */
    background-color: #ff4605;
}
.buy{
    display: flex;justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.carf1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-radius: 20px;
}
.carf1 img{
    border-radius: 50%;
    width: 65px;
    height: 65px;
}
.asda{
    align-items: center;
    display: flex;
    justify-content: center;

}