.HomeHeader {
    width: 100%;
    height: 80vh;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
}

.headerBody1 {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBody>h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.headerBody>h1>span {
    color: #ff6505
}

.header_box {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.headerSelect:focus {
    border: 1px solid #ff6505 !important;
}

.header_btn {
    font-size: 20px;
    height: 55px;
}

.headerSelect option:hover option {
    color: #ff6505;
}
.kotta {
    width: 80%;
    margin-left: 10%;
}

.kotta h1 {
    margin-top: 4%;
    text-align: center;
    font-size: 40px;
}

.ushta {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    flex-wrap: wrap;
}

.bir {
    width: 300px;
    text-align: center;
    margin-top: 30px;
}

.bir>h2 {
    margin-top: 30px;
}

.bxs-balloon {
    font-size: 70px;
    color: red;
}

.bir h4 {
    opacity: 0.6;
    font-weight: 500;
    margin-top: 20px;
}




@media (max-width: 900px) {
    .headerBody1 {
        padding: 0 5%;
        display: block;
    }

    .HomeHeader {
        height: 90vh;
    }

    .headerBody {
        width: 60%;
        min-width: 300px;
        margin: 40px auto;
    }

    .header_box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .headerSelect {
        width: 100%;
        margin-top: 15px;
        min-width: 250px;
    }

    .header_btn {
        width: 100%;
        height: 40px;
        margin-top: 10px;
    }

    .headerBody>h1 {
        font-size: 32px;
    }
    #inp2 {
        width: 100% !important;
    }
}


@media (max-width: 500px) {
    .kotta h1 {
        font-size: 30px;
    }

    .bir {
        width: 100%;
    }
}