.navbar {
    width: 100%;
    height: auto;
    padding: 10px 2%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_right {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loginIn {
    display: flex;
    align-items: center;
    border-right: 1px solid #fff;
    padding-right: 40px;
}
.user_icon {
    color: #ff6505;
    margin-right: 8px;
    font-size: 20px;
}
.menuLeftIcon, 
.usersIcon {
    color: #ff6505;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.modalMenu {
    width: 100% !important;
    height: 100vh;
    background-color: #0f141e;
    position: fixed;
    top: 0; left: 0;
    display: none;
    align-items: start;
    flex-direction: column;
    padding-top: 50px;
    z-index: 99;
}
.db .modalMenu {
    display: block;
}
.close_btn {
    color: #ff6505;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 20px; top: 20px;
}
@media (max-width: 1200px) {
    .navbar_left {
        width: 70%;
    }
}

@media (max-width: 900px) {
    .navbar_left .a_fff,
    .navbar_right {
        width: auto;
        display: none;
    }
    .navbar_left {
        width: auto;
    }
    .menuLeftIcon, 
    .usersIcon {
        display: flex;
    }
    .modalMenu {
        width: 50%;
        display: none;
    }
    .a_box {
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
        padding-bottom: 20px;
        border-bottom: 0.5px solid #999;
        transition: .2s;
    }
    .a_box:hover .a_mobile {
        color: #ff6505;
    }
    .a_mobile {
        padding-left: 60px;
    }
}