.popular {
    width: 100%;
    margin-top: 20px;
    background-color: #eff3fa;
    padding: 0 10%;
    padding-top: 2%;
}

.pop_btns {
    display: flex;
}

.popular_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular_btn {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    background-color: #fff;
    color: #2c2c2c;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}
.popular_btn:hover {
    border: 1px solid #ff6505;
    background-color: rgba(255, 101, 5, .1)
}

.popular_btn:focus {
    border: 1px solid #ff6505;
    background-color: rgba(255, 98, 0, 0.1);
    color: #ff6505;
}

.swiper {
    width: 100%;
    height: 52vh;
    margin-top: 5%;
}

.swiper-slide {
    font-size: 18px;
    height: 80% !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiperPopCard > .feat_card {
    width: 100%;
    height: 100%;
}
@media (max-width: 1460px) {
    .popular {
        padding: 0 5%;
        padding-top: 5%;
    }
}
@media (max-width: 991px) {
    .popular_top {
        display: flex;
        flex-direction: column;
    }
    .popular_top > h1 {
        margin-bottom: 20px;
    }
    .swiper {
        height: 60vh;
    }
}
@media (max-width: 560px) {
    .pop_btns {
        width: 90%;
        overflow-x: scroll;
    }
    .popular {
        padding-bottom: 100px;
    }
    .swiper, .swiper-container {
        padding-bottom: 40px;
    }
    .popular_btn {
        min-width: 100px !important;
        height: 35px !important;
        font-size: 14px !important;
        margin: 0 10px;
    }
    .swiperPopCard > .feat_card > .featured_img {
        height: 70% !important;
    }
}