.team {
  width: 80%;
  padding: 6% 30px;
  padding-left: 6%;
  margin: 0 auto;
  background-color: #0f141e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  margin-top: 50px;
}
.team_left {
  width: 35%;
  color: #fff;
}
.team_box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.team_box p {
  margin-left: 10px;
}
.team_btn {
  width: 160px;
  height: 40px;
  font-size: 16px;
  margin-top: 40px;
}
.swiper {
  width: 80% !important;
  height: 500px !important;
  padding: 20px;
  position: absolute !important;
  right: -12%;
  padding-bottom: 10px;
  margin-top: -1%;
}
.swiper-wrapper {
  align-items: flex-end !important;
}
.team_card {
  width: 335px !important;
  height: 480px !important;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #fff !important;
  background-color: #fff;
  transition: .2s;
}
.Tcard_box {
  color: #2c2c2c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.Tcard_box p {
  opacity: 0.5;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.team_left h1 {
  margin-bottom: 30px;
}
.team_img {
  width: 100%;
}
.Tcard_email {
  color: #ff5505;
  margin-top: 30px;
}
.Tcard_tel {
  color: #2c2c2c;
  opacity: 0.4;
  margin-top: 5px;
}
.team_card:hover {
  transform: translateY(-15px) !important;
} 

@media (max-width: 1600px) {
  .team {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
@media (max-width: 1480px) {
  .team {
    width: 96%;
  }
}
@media (max-width: 1200px) {
  .swiper {
    width: 70% !important;
  }
  .team_card {
    width: 280px !important;
  }
}

@media (max-width: 1000px) {
  .team {
    flex-direction: column;
    align-items: start;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .swiper {
    position: relative !important;
    width: 100% !important;
    right: 0;
    margin-top: 40px;
  }
  .team_left {
    width: 100%;
  }
  .team_btn {
    width: 100%;
  }
}